html, body {
    background-color: cadetblue;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    padding: 15px;
    font-size: 1.3rem;
    width: 60px;
    height: auto;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}